body{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

#mainheader{
    padding-top:9.5px ;
    font-size: 20px;
}

.navbar{
    font-size: 15px;
}

.dropdown-item{
    font-size:15px;
}

.container h1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.form-group{
    font-size: 20px;
}
#input{
    font-size: 20px;
    width: block;
    height: 40px;
}

#inputdesc{
    text-align: start;
    font-size: 20px;
    width: block;
    height: 100px;
}

#goback{
    margin-left: 42%;
    font-size: 20px;
}

form{
    margin:25px 25px;
}

#alert{
    font-size: 20px;
}